[submodule "vendor/silex"]
	path = vendor/silex
	url = https://github.com/fabpot/Silex.git
[submodule "vendor/pimple"]
	path = vendor/pimple
	url = https://github.com/fabpot/Pimple.git
[submodule "vendor/symfony"]
	path = vendor/symfony
	url = https://github.com/symfony/symfony.git
[submodule "vendor/silex-php-engine"]
	path = vendor/silex-php-engine
	url = https://github.com/litek/SilexPhpEngine.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = https://github.com/doctrine/common.git
[submodule "vendor/doctrine"]
	path = vendor/doctrine
	url = https://github.com/doctrine/doctrine2.git
[submodule "vendor/assetic"]
	path = vendor/assetic
	url = https://github.com/kriswallsmith/assetic.git
[submodule "vendor/doctrine-dbal"]
	path = vendor/doctrine-dbal
	url = https://github.com/doctrine/dbal.git
